<div class="heading mt-5">
    <h1>Biceps</h1>
    <h2>Chin Ups</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
        <img src="/assets/Images/male-bodyweight-chinup-front.gif">
        <img src="/assets/Images/male-bodyweight-chinup-side.gif">
    </div>

    <div>
        <ol>
            <li>Grab the bar shoulder width apart with a supinated grip (palms facing you)</li>
            <li>With your body hanging and arms fully extended, pull yourself up until your chin is past the bar.</li>
            <li> Slowly return to starting position. Repeat.</li>
        </ol>
    </div>

    <br>

    <h2>Dumbbells Curl</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/male-dumbbell-curl-front.gif">
                <img src="/assets/Images/male-dumbbell-curl-side.gif">
            </div>

            <div>
                <ol>
                    <li> Stand up straight with a dumbbell in each hand at arm's length.</li>
                    <li>Raise one dumbbell and twist your forearm until it is vertical and your palm faces the
                    shoulder.</li>
                    <li>Lower to original position and repeat with opposite arm</li>
                </ol>
            </div>

            <br>

            <h2>Dumbbells Hammer Curls</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/male-dumbbell-hammer-curl-front_JbvhNLU.gif">
                <img src="/assets/Images/male-dumbbell-hammer-curl-side_io6oHN7.gif">
            </div>

            <div>
                <ol>
                    <li>Hold the dumbbells with a neutral grip (thumbs facing the ceiling).</li>
                    <li>Slowly lift the dumbbell up to chest height
                    </li>
                    <li> Return to starting position and repeat.</li>
                </ol>
            </div>

            <br>

            <h2>Dumbbells Reverse Curls</h2>
            <p><strong>Difficulty</strong> : Intermediate</p>
            <div>
                <img src="/assets/Images/male-dumbbell-reverse-curl-front.gif">
                <img src="/assets/Images/male-dumbbell-reverse-curl-side.gif">
            </div>

            <div>
                <ol>
                    <li>Grab the dumbbells with a pronated (overhand) grip. You can do this exercise thumbless if
                    it's more comfortable on your wrists.</li>
                    <li>Flex at the elbows until your biceps touch your forearms. Try not to let your elbows flair
                    outward.</li>
                </ol>
            </div>

            <br>

            <h2>Barbell Curl</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/male-barbell-curl-front_uKPCb8P.gif">
                <img src="/assets/Images/male-barbell-curl-side_NN1ZFmi.gif">
            </div>

            <div>
                <ol>
                    <li>While holding the upper arms stationary, curl the weights forward while contracting the biceps as you breathe out.</li>
                    <li> Continue the movement until your biceps are fully contracted and the bar is at shoulder level.</li>
                    <li> Hold the contracted position for a second and squeeze the biceps hard.</li>
                    <li>Slowly bring the weight back down to the starting position.</li>
                </ol>
            </div>

            <br>

            <h2>Reverse Barbell Curl</h2>
            <p><strong>Difficulty</strong> : Advanced</p>
            <div>
                <img src="/assets/Images/male-barbell-reverse-curl-front_ysdi82M.gif">
                <img src="/assets/Images/male-barbell-reverse-curl-side_EGHsY3f.gif">
            </div>

            <div>
                <ol>
                    <li>Take a double overhand grip that's about shoulder width. Flex your elbows while keeping your elbows tucked in. Try not to let them flare out.</li>
                    <li> Curl until your forearm presses into your bicep. Then fully extend your elbows at the bottom of each rep.</li>
                </ol>
            </div>
</div>
