<div class="heading mt-5">
    <h1>Obliques</h1>
    <h2>Russian Twist</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
        <img src="/assets/Images/male-dumbbell-russian-twist-front.gif">
        <img src="/assets/Images/male-dumbbell-russian-twist-side.gif">
    </div>

    <div>
        <ol>
            <li>Sit on the floor and flex your knees and hips to a 90 degree angle.</li>
            <li>Your feet should be hovering off the ground. (If that's too hard start with heels on the floor)</li>
            <li>Rotate your upper spine to engage your obliques.</li>
        </ol>
    </div>
</div>
