<body>
    
    <div class="center">
        <h1 style="color: hsla(0, 0%, 6%, 0.87);" >Register</h1>
        <form (ngSubmit)="formSubmit()">
            <div class="txt_field">
                <input [(ngModel)]="newUser.firstName" type="text" name="firstName" required >
                <span></span>
                <label>firstName</label>
            </div>
            <div class="txt_field">
                <input [(ngModel)]="newUser.lastName" type="text" name="lastName" required>
                <span></span>
                <label>lastName</label>
            </div>
            <div class="txt_field">
                <input [(ngModel)]="newUser.username" type="text" name="username" required>
                <span></span>
                <label>username</label>
            </div>
            <div class="txt_field">
                <input [(ngModel)]="newUser.email" type="email" name="email" required>
                <span></span>
                <label>email</label>
            </div>
            <div class="txt_field">
                <input [(ngModel)]="newUser.password" type="password" name="password" required>
                <span></span>
                <label>password</label>
            </div>

            <input type="submit" value="Register">
            <div class="login_link">
                You are a member? <a routerLink="">Login</a>
            </div>
        </form>
    </div>
    
</body>


   