<div class="heading mt-5">
    <h1>Forearms</h1>
    <h2>Chin Ups</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
        <img src="/assets/Images/male-bodyweight-chinup-front.gif">
        <img src="/assets/Images/male-bodyweight-chinup-side.gif">
    </div>

    <div>
        <ol>
            <li>Grab the bar shoulder width apart with a supinated grip (palms facing you)</li>
            <li>With your body hanging and arms fully extended, pull yourself up until your chin is past the bar.</li>
            <li> Slowly return to starting position. Repeat.</li>
        </ol>
    </div>

    <br>

    <h2>Dumbbells Wrist Curl</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/male-dumbbell-wrist-curl-front.gif">
                <img src="/assets/Images/male-dumbbell-wrist-curl-side.gif">
            </div>

            <div>
                <ol>
                    <li> Grip the dumbbell with your palm facing upwards with your forearm rested against the bench.
                    </li>
                    <li> Slowly curl your wrist upwards in a semicircular motion.</li>
                    <li> Return to starting position and repeat.</li>
                </ol>
            </div>

            <br>

            <h2>Dumbbells Wrist Extension</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/male-dumbbell-wrist-extension-front.gif">
                <img src="/assets/Images/male-dumbbell-wrist-extension-side.gif">
            </div>

            <div>
                <ol>
                    <li>Grab two dumbbells with an overhand grip and lay your forearms across your knees.</li>
                    <li>Let your wrists flex fully, then extend your wrists.</li>
                </ol>
            </div>

            <br>

            <h2>Dumbbells Reverse Curls</h2>
            <p><strong>Difficulty</strong> : Intermediate</p>
            <div>
                <img src="/assets/Images/male-dumbbell-reverse-curl-front.gif">
                <img src="/assets/Images/male-dumbbell-reverse-curl-side.gif">
            </div>

            <div>
                <ol>
                    <li>Grab the dumbbells with a pronated (overhand) grip. You can do this exercise thumbless if
                    it's more comfortable on your wrists.</li>
                    <li>Flex at the elbows until your biceps touch your forearms. Try not to let your elbows flair
                    outward.</li>
                </ol>
            </div>

            <br>

            <h2>Barbell Wrist Curl</h2>
            <p><strong>Difficulty</strong> : Beginner</p>
            <div>
                <img src="/assets/Images/barbell-wristcurl-male-front.gif">
                <img src="/assets/Images/barbell-wristcurl-male-side.gif">
            </div>

            <div>
                <ol>
                    <li>Grab a straight bar with a supinated (underhand) grip.</li>
                    <li>Kneel down next to a flat bench and place your forearms on the bench with your wrists just off the bench.</li>
                    <li> Let the barbell pull down on your wrists until they are extended.</li>
                    <li>Curl the barbell until your wrists are fully flexed.</li>
                    <li>Lower in a controlled manner and repeat.</li>
                </ol>
            </div>

            <br>

            <h2>Reverse Barbell Curl</h2>
            <p><strong>Difficulty</strong> : Advanced</p>
            <div>
                <img src="/assets/Images/male-barbell-reverse-curl-front_ysdi82M.gif">
                <img src="/assets/Images/male-barbell-reverse-curl-side_EGHsY3f.gif">
            </div>

            <div>
                <ol>
                    <li>Take a double overhand grip that's about shoulder width. Flex your elbows while keeping your elbows tucked in. Try not to let them flare out.</li>
                    <li> Curl until your forearm presses into your bicep. Then fully extend your elbows at the bottom of each rep.</li>
                </ol>
            </div>
</div>
