<div class="heading mt-5">
    <h1>Traps</h1>
    <h2>Elevated Pike Press</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
    <img src="/assets/Images\Elevated Pike Press.gif">
    <img src="/assets/Images\Elevated Pike Press Side.gif">
    </div>

    <div>
        <ol>
            <li>Use a bench or an object to elevate your feet.</li>
            <li>Lower your head by bending your elbows towards the floor</li>
            <li>Push through your hands and reach the starting pike position</li>
            <li>Repeat</li>
        </ol>
    </div>

    <br>

    <h2>Elevated Pike Shoulder Shrug</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div>
    <img src="/assets/Images\Elevated Pike Shoulder Shrug.gif">
    <img src="/assets/Images\Elevated Pike Shoulder Shrug Side.gif">
    </div>

    <div>
        <ol>
            <li>Use a bench or an object like a chair to elevate your feet.</li>
            <li>Slowly lower your body (scapula) while keeping your elbows locked(this is key)</li>
            <li>Slowly raise your body back to the starting position</li>
        </ol>
    </div>

    <br>

<h2>Dumbbells Shrugs</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div>
    <img src="/assets/Images\male-dumbbell-shrug-front.gif">
    <img src="/assets/Images\male-dumbbell-shrug-side.gif">
    </div>

    <div>
        <ol>
            <li>Stand tall with two dumbbells. Pull your shoulder blades up. Give a one second squeeze at the top.</li>
        </ol>
    </div>

    <br>

    <h2>Dumbbells Seated Shrugs</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div>
    <img src="/assets/Images\male-dumbbell-seated-shrug-front.gif">
    <img src="/assets/Images\male-dumbbell-seated-shrug-side.gif">
    </div>

    <div>
        <ol>
            <li>Sit on a bench with dumbbells in both hands, palms facing your body, back straight.</li>
            <li>Elevate your shoulders and hold the contracted position at the apex of the motion</li>
            <li>Slowly lower your shoulders back to starting position.</li>
        </ol>
    </div>

    <br>

    <h2>Barbell Upright Row</h2>
    <p><strong>Difficulty</strong> : Advanced</p>
    <div>
    <img src="/assets/Images\male-barbell-upright-row-front_3ROsKgm.gif">
    <img src="/assets/Images\male-barbell-upright-row-side_NBzD3il.gif">
    </div>

    <div>
        <ol>
            <li>Take a double overhand roughly shoulder width grip.</li>
            <li>Pull your elbows straight up the ceiling. Aim to get the bar to chin level or slightly higher.</li>
        </ol>
    </div>
</div>