<div class="heading mt-5">
    <h1>Traps (Mid-Back)</h1>
    <h2>Pull Ups</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
    <img src="/assets/Images/male-bodyweight-pullup-front.gif">
    <img src="/assets/Images/male-bodyweight-pullup-side.gif">
    </div>

    <div>
        <ol>
            <li>Grasp the bar with an overhand grip, arms and shoulders fully extended.</li>
            <li>Pull your body up until your chin is above the bar.</li>
            <li>Lower your body back to starting position.</li>
        </ol>
    </div>

    <br>

    <h2>Elevated Pike Press</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
    <img src="/assets/Images\Elevated Pike Press.gif">
    <img src="/assets/Images\Elevated Pike Press Side.gif">
    </div>

    <div>
        <ol>
            <li>Use a bench or an object to elevate your feet.</li>
            <li>Lower your head by bending your elbows towards the floor</li>
            <li>Push through your hands and reach the starting pike position</li>
            <li>Repeat</li>
        </ol>
    </div>

    <br>

    <h2>Dumbbell Row Unilateral</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div>
    <img src="/assets/Images/male-dumbbell-row-unilateral-front.gif">
    <img src="/assets/Images/male-dumbbell-unilateral-row-side.gif">
    </div>

    <div>
        <ol>
            <li>Brace your off arm against something stable (bench, box). Stagger your stance so your leg on the side of your working arm is back.</li>
            <li> Try to get your torso to parallel with the ground. That will extend your range of motion.</li>
            <li> Let your arm hang freely and then pull your elbow back. Imagine you've got a tennis ball in your armpit and squeeze it each rep.</li>
        </ol>
    </div>

    <br>
    
    <h2>Bent Over Barbell Row</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
    <img src="/assets/Images/male-barbell-bent-over-row-front.gif">
    <img src="/assets/Images/male-barbell-bent-over-row-side.gif">
    </div>

    <div>
        <ol>
            <li>Grab a barbell with a shoulder width pronated or supinated grip.</li>
            <li>Bend forward at your hips while maintaining a flat back.</li>
            <li>Pull the weight toward your upper abdomen.</li>
            <li> Lower the weight in a controlled manner and repeat.</li>
        </ol>
    </div>
</div>