<div class="heading mt-5">
    <h1>Lats</h1>
    <h2>Pull Ups</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div>
        <img src="/assets/Images/male-bodyweight-pullup-front.gif">
        <img src="/assets/Images/male-bodyweight-pullup-side.gif">
    </div>

    <div>
        <ol>
            <li>Grasp the bar with an overhand grip, arms and shoulders fully extended.</li>
            <li>Pull your body up until your chin is above the bar.</li>
            <li>Lower your body back to starting position.</li>
        </ol>
    </div>

    <br>

    <h2>Dumbbell Row Unilateral</h2>
    <p><strong>Difficulty</strong> : Beginner</p>
    <div>
        <img src="/assets/Images/male-dumbbell-row-unilateral-front.gif">
        <img src="/assets/Images/male-dumbbell-unilateral-row-side.gif">
    </div>

    <div>
        <ol>
            <li>Brace your off arm against something stable (bench, box). Stagger your stance so your leg on the side of
                your working arm is back.</li>
            <li>Try to get your torso to parallel with the ground. That will extend your range of motion.</li>
            <li>Let your arm hang freely and then pull your elbow back. Imagine you've got a tennis ball in your armpit
                and squeeze it each rep.</li>
        </ol>
    </div>

    <br>

    <h2>Deadlift</h2>
    <p><strong>Difficulty</strong> : Advanced</p>
    <div>
        <img src="/assets/Images/male-barbell-deadlift-front.gif">
        <img src="/assets/Images/male-barbell-deadlift-side.gif">
    </div>

    <div>
        <ol>
            <li>Stand with your mid-foot under the bar and grip the bar with your hands, about a shoulder width apart.
            </li>
            <li>Bend your knees, then lift the bar by straightening your back. It is important to keep your back
                straight.</li>
            <li> Stand to your full height and hold.</li>
            <li> Lower the bar to the floor by bending your knees and keeping your back straight.</li>
        </ol>
    </div>
</div>